body {
  font-family: 'Open Sans', Verdana, Helvetica, sans-serif;
  color: #23221F;
}
header {
  display: grid;
  grid-template-columns: 1fr 2fr;
  color: #FFFFFF;
  background-color: #000000;
  padding: 15px 30px;
}

nav {

  text-align: right;
  align-self: center;
}
nav ul li {
  display: inline;
  padding-left: 25px;
}

.search-nav-header {
  color: #FFFFFF;
  background-color: #025694;
  font-size: 24px;
  padding: 15px 30px; 
}

.search-content label {
  padding-bottom: 5px;
}
.search-content {
  margin: 20px 20px;
  
}
.search-content .nav-tabs {
  border-bottom: 3px solid #DDD;
}
.search-content .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
  color: #025694;
  border: none;
  border-bottom: 3px solid #025694;
  padding-left: 25px;
  padding-right: 25px;
}
.nav-tabs>li {
  font-size: 18px;
  font-weight: 300;
}
.nav-tabs>li>a {
  color:#8A979D;
}
footer {
  color: #FFFFFF;
  background-color: #000000;
  padding: 15px 30px;
  position: absolute;
  bottom:0px;
  width:100%;
}

.search-btn .btn {margin-top: 21px;}

tbody {
  background-color: #F1F5F7;
}
.table>thead>tr>th {
  font-weight: 600;
}
.table>tbody>tr:not(.additional-data-row)>td{
  border:none;
  font-weight: 600;
}

.table>tbody>tr.additional-data-row td{
  border:none;
  padding-top: 3px;
  padding-bottom: 10px;
  font-size: 14px;
}

.table>tbody>tr a{
  color:#26784E
}